<mat-card class="cardWithShadow">
  <mat-card-content class="p-y-12">
    <mat-card-title>Change Password</mat-card-title>
    <mat-card-subtitle class="text-sm"
    >To change your password please confirm
      here
    </mat-card-subtitle
    >
    <form class="mt-12" [formGroup]="form">
      <!-- input -->
      <mat-label class="text-sm font-semibold mb-2 block"
      >Current Password
      </mat-label
      >
      <mat-form-field
        appearance="outline"
        class="w-100"
        color="primary"
      >
        <input matInput type="password" value="password" formControlName="password" />
      </mat-form-field>
      <!-- input -->
      <mat-label class="text-sm font-semibold mb-2 block"
      >New Password
      </mat-label
      >
      <mat-form-field
        appearance="outline"
        class="w-100"
        color="primary"
      >
        <input matInput type="password" value="password" formControlName="newPassword" />
      </mat-form-field>
      <!-- input -->
      <mat-label class="text-sm font-semibold mb-2 block"
      >Confirm Password
      </mat-label
      >
      <mat-form-field
        appearance="outline"
        class="w-100"
        color="primary"
      >
        <input matInput type="password" value="password" formControlName="confirmPassword" />
        <mat-hint
          *ngIf="form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid"
          class="m-b-16 error-msg"
        >
          <div
            class="text-error"
            *ngIf="form.controls.confirmPassword.errors && form.controls.confirmPassword.errors['notMatch']"
          >
            Password does not match
          </div>
        </mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
  <div class="p-12">
    <button mat-flat-button color="primary" [disabled]="form.invalid || loading" (click)="submit()">Save
    </button>
  </div>
</mat-card>
