<mat-card class="cardWithShadow bg-light-primary">
  <mat-card-header class="align-items-start gap-5">
    <mat-card-title class="mat-body-1">Total Request (5m)</mat-card-title>
    <mat-icon class="flex-shrink-0 m-l-auto" color="primary">check_circle</mat-icon>
  </mat-card-header>
  <mat-card-content class="p-t-10">
    <h5 class="mat-subtitle-1 m-t-4 f-w-600">78,298</h5>
    <div class="mat-body-1 f-w-600 m-t-10">+9%</div>
    <apx-chart
      [series]="projectsChart.series"
      [chart]="projectsChart.chart"
      [plotOptions]="projectsChart.plotOptions"
      [tooltip]="projectsChart.tooltip"
      [stroke]="projectsChart.stroke"
      [xaxis]="projectsChart.xaxis"
      [yaxis]="projectsChart.yaxis"
      [grid]="projectsChart.grid"
      [colors]="projectsChart.colors"
    ></apx-chart>
  </mat-card-content>
</mat-card>
