<mat-card class="shadow-lg theme-card">
  <mat-card-header class="flex items-center justify-between">
    <mat-card-title class="!mb-0">Area Chart</mat-card-title>
    <div class="flex items-center gap-5" [formGroup]="form">
      <mat-form-field class="example-form-field">
        <mat-date-range-input
          [rangePicker]="rangePicker">
          <input matStartDate placeholder="From" formControlName="from">
          <input matEndDate placeholder="To" formControlName="to">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Range</mat-label>
        <mat-select>
          <mat-option *ngFor="let option of range" [value]="option.value"> {{option.display}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </mat-card-header>
  <mat-card-content class="!border-t">
    <apx-chart
      [series]="lineChartOptions.series"
      [chart]="lineChartOptions.chart"
      [xaxis]="lineChartOptions.xaxis"
      [yaxis]="lineChartOptions.yaxis"
      [grid]="lineChartOptions.grid"
      [stroke]="lineChartOptions.stroke"
      [tooltip]="lineChartOptions.tooltip"
      [dataLabels]="lineChartOptions.dataLabels"
      [legend]="lineChartOptions.legend"
      [colors]="lineChartOptions.colors"
      [markers]="lineChartOptions.markers"
    >
    </apx-chart>
  </mat-card-content>
</mat-card>
