<mat-card class="cardWithShadow">
  <mat-card-header>
    <div class="d-flex w-100">
      <div>
        <mat-card-title>Revenue Updates</mat-card-title>
        <mat-card-subtitle class="mat-body-1">
          Overview of Profit
        </mat-card-subtitle>

      </div>
      <div class="d-flex gap-10 m-l-auto" [formGroup]="form">
        <mat-form-field class="theme-date-range-picker" appearance="outline">
          <mat-date-range-input
            [rangePicker]="dateRangePicker"
          >
            <input
              matStartDate
              formControlName="from"
              placeholder="Start date"
            />
            <input
              matEndDate
              formControlName="to"
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="dateRangePicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field class="theme-select" appearance="outline">
          <mat-select formControlName="duration">
            <mat-option *ngFor="let duration of durations" [value]="duration.value">
              {{ duration.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <apx-chart
      [series]="revenueChart.series"
      [dataLabels]="revenueChart.dataLabels"
      [chart]="revenueChart.chart"
      [legend]="revenueChart.legend"
      [xaxis]="revenueChart.xaxis"
      [yaxis]="revenueChart.yaxis"
      [grid]="revenueChart.grid"
      [stroke]="revenueChart.stroke"
      [tooltip]="revenueChart.tooltip"
      [plotOptions]="revenueChart.plotOptions"
    ></apx-chart>
  </mat-card-content>
</mat-card>
