<div class="h-screen flex justify-center items-center">
  <div
    class="relative flex flex-col h-full w-full bg-[#dbdcef] items-center justify-center"
  >
    <mat-card class="shadow-gray-800 w-[480px]">
      <mat-card-content class="p-8">
        <h5 class="mat-headline-5 text-center !my-5 block">Sign In</h5>
        <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
          <mat-label class="mat-subtitle-2 block text-sm !font-semibold !mb-3">
            Username
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput formControlName="uname"/>
            <mat-hint
              *ngIf="f['uname'].touched && f['uname'].invalid"
              class="m-b-16 error-msg"
            >
              <div
                class="text-error"
                *ngIf="f['uname'].errors && f['uname'].errors['required']"
              >
                Name is required.
              </div>
              <div
                class="text-error"
                *ngIf="f['uname'].errors && f['uname'].errors['minlength']"
              >
                Name should be 6 character.
              </div>
            </mat-hint>
          </mat-form-field>
          <!-- password -->
          <mat-label class="mat-subtitle-2 block text-sm !font-semibold !mb-3"
          >Password
          </mat-label
          >
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="password" formControlName="password"/>
            <mat-hint
              *ngIf="f['password'].touched && f['password'].invalid"
              class="m-b-16 error-msg"
            >
              <div
                class="text-error"
                *ngIf="
                      f['password'].errors && f['password'].errors['required']
                    "
              >
                Password is required.
              </div>
            </mat-hint>
          </mat-form-field>
          <button mat-flat-button color="primary" class="w-full !h-[50px]" [disabled]="!form.valid">
            Sign In
          </button>
          <!-- input -->
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
