<mat-sidenav-container
  class="mainWrapper blue_theme"
  autosize
  autoFocus
>
  <mat-sidenav
    #leftsidenav
    mode="side"
    opened
    class="sidebarNav"
  >
    <div class="flex flex-col pt-5 h-full">
      <mat-nav-list class="sidebar-list">
        <ng-container *ngFor="let item of navItems">
          <app-nav-item *ngxPermissionsOnly="item.permissions" [item]="item">
          </app-nav-item>
        </ng-container>

      </mat-nav-list>
      <div class="p-3 mt-auto profile-bar">
        <div class="bg-blue-200 flex items-center rounded p-4">
          <img
            src="/assets/images/profile/user-1.jpg"
            class="rounded-full"
            width="40"
          />
          <div class="ml-4">
            <h5 class="mat-subtitle-2 font-semibold">{{ (user$ | async)?.account }}</h5>
          </div>
          <div class="ml-auto">
            <a
              mat-icon-button
              (click)="logout()"
              class="flex justify-center"
            >
              <i-tabler
                name="power"
                class="text-primary icon-18 flex"
              ></i-tabler>
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="contentWrapper" #content>
    <main
      class="pageWrapper"
    >
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
