<mat-sidenav-container
  class="mainWrapper blue_theme"
  autosize
  autoFocus
>
  <mat-sidenav
    #leftsidenav
    [mode]="'side'"
    opened
    class="sidebarNav"
  >
    <div class="flex-layout">
      <app-sidebar></app-sidebar>
      <mat-nav-list class="sidebar-list">
        <app-nav-item
          *ngFor="let item of navItems"
          [item]="item"
        >
        </app-nav-item>
      </mat-nav-list>
      <div class="p-24 m-t-auto profile-bar">
        <div class="bg-light-accent d-flex align-items-center rounded p-16">
          <img
            src="/assets/images/profile/user-1.jpg"
            class="rounded-circle"
            width="40"
          />
          <div class="m-l-16">
            <h5 class="mat-subtitle-2 f-w-600">Mathew</h5>
            <span class="f-s-12">Designer</span>
          </div>
          <div class="m-l-auto">
            <a
              mat-icon-button
              (click)="logout()"
              class="d-flex justify-content-center"
            >
              <i-tabler
                name="power"
                class="text-primary icon-18 d-flex"
              ></i-tabler>
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="contentWrapper" #content>
    <main
      class="pageWrapper"
    >
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
