<div class="grid grid-cols-6 gap-6 items-stretch">
  <mat-card *ngFor="let item of dataOverview" class="cardWithShadow"
            [class.bg-blue-200]="itemSelected.value?.dataType === item.dataType"
            (click)="itemSelected.setValue(item)"
  >
    <mat-card-header class="items-start gap-5">
      <mat-card-title class="!text-sm !font-normal">{{ item.title }}</mat-card-title>
      <mat-icon class="shrink-0 m-l-auto" color="primary">check_circle</mat-icon>
    </mat-card-header>
    <mat-card-content class="!flex flex-col pt-2.5 h-full">
      <div class="grow" [ngSwitch]="true">
        <ng-container
          *ngSwitchCase="item.dataType === DataType.totalRequests || item.dataType === DataType.totalErrors">
          <h5 class="text-xl mt-1 font-semibold">{{ item.value | number :'1.0-2' }}</h5>
          <div class="text-sm font-semibold mt-2.5">+{{ item.percent | number :'1.0-2' }}%</div>
        </ng-container>
        <ng-container
          *ngSwitchCase="item.dataType === DataType.cpuAvg || item.dataType === DataType.gpuAvg || item.dataType === DataType.ramAvg">
          <h5 class="text-xl mt-1 font-semibold">{{ item.value | number :'1.0-2' }} %</h5>
          <div class="text-sm font-semibold mt-2.5">{{ item.min | number :'1.0-2' }}% min</div>
          <div class="text-sm font-semibold mt-2.5">{{ item.max | number :'1.0-2' }}% max</div>
        </ng-container>
        <ng-container
          *ngSwitchCase="item.dataType === DataType.system">
          <h5 class="text-sm mt-1 font-semibold">Worker: {{ item.worker | number :'1.0-2' }}</h5>
          <div class="text-sm font-semibold mt-2.5">Process: {{ item.process | number :'1.0-2' }}</div>
        </ng-container>
      </div>
      <apx-chart
        #barChart
        [series]="item.series"
        [chart]="overviewChart.chart"
        [plotOptions]="overviewChart.plotOptions"
        [tooltip]="overviewChart.tooltip"
        [stroke]="overviewChart.stroke"
        [xaxis]="overviewChart.xaxis"
        [yaxis]="item.yaxis"
        [grid]="overviewChart.grid"
        [colors]="overviewChart.colors"
        [autoUpdateSeries]="true"
      ></apx-chart>
    </mat-card-content>
  </mat-card>
  <div class="col-span-6">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-card class="cardWithShadow">
      <mat-card-header>
        <div class="flex items-center w-full">
          <div>
            <mat-card-title>{{ itemSelected.value?.detailTitle || itemSelected.value?.title }}</mat-card-title>
          </div>
          <div class="flex gap-2.5 ml-auto" [formGroup]="form">
            <mat-form-field class="theme-date-range-picker" appearance="outline">
              <mat-date-range-input
                [rangePicker]="dateRangePicker"
              >
                <input
                  matStartDate
                  formControlName="from"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="to"
                  placeholder="End date"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="dateRangePicker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field class="theme-select" appearance="outline">
              <mat-select formControlName="duration">
                <mat-option *ngFor="let duration of durations" [value]="duration.value">
                  {{ duration.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <apx-chart
          #lineChart
          [series]="detailChart.series"
          [dataLabels]="detailChart.dataLabels"
          [chart]="detailChart.chart"
          [legend]="detailChart.legend"
          [xaxis]="detailChart.xaxis"
          [yaxis]="detailChart.yaxis"
          [grid]="detailChart.grid"
          [stroke]="detailChart.stroke"
        ></apx-chart>
      </mat-card-content>
    </mat-card>
  </div>
</div>
